In [2]:
excel_file_path = r"C:\Users\HP\Desktop\DATASCI\PERSONALProjects\KPMG virtual internship\KPMG_VI_new_raw_data.xlsx"
sheet_names = ['Transactions', 'NewCustomerList', 'CustomerDemographic', 'CustomerAdress']

In [3]:
import pandas as pd
import os

def excel_to_csv(excel_file_path, sheet_names=None, csv_file_names=None):
    excel_file_path = os.path.abspath(excel_file_path)  # Convert to absolute path
    xls = pd.ExcelFile(excel_file_path)

    if csv_file_names is None:
        csv_file_names = [sheet_name for sheet_name in xlsx.sheet_names]

    if len(csv_file_names) != len(xls.sheet_names):
        raise ValueError("Number of CSV file names must match the number of sheets in the Excel file.")

    for sheet_name, csv_name in zip(xls.sheet_names, csv_file_names):
        df = xls.parse(sheet_name)
        csv_file_path = f'{csv_name}.csv'  # Save each sheet with the provided CSV file name
        df.to_csv(csv_file_path, index=False)

    print("Conversion completed!")

# Call the function to convert the Excel file to CSV with custom names for each sheet
#excel_file_path = 'C:/Users/HP/Desktop/DATASCI/PERSONAL/KPMG virtual internship/kpmg_sprocket.xlsx'
sheet_names = None  # Set this to a list of specific sheet names if you want to convert only certain sheets.
csv_file_names = ['Transactions', 'NewCustomerList', 'CustomerDemographic', 'CustomerAddress']  # Provide the desired CSV file names

excel_to_csv(excel_file_path, sheet_names, csv_file_names)

C:\Users\HP\AppData\Local\Temp\ipykernel_17360\509358284.py:15: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df = xls.parse(sheet_name)
C:\Users\HP\AppData\Local\Temp\ipykernel_17360\509358284.py:15: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df = xls.parse(sheet_name)

Conversion completed!

In [4]:
#Now to turn the respective sheets to dataframes
transactions_df = pd.read_csv("Transactions.csv")
transactions_df.head()
#CustomerList_df = pd.read_csv('NewCustomerList.csv')
#CustomerList_df.head()
CustomerDemographic_df = pd.read_csv("CustomerDemographic.csv")
#CustomerDemographic_df.head()
CustomerAddress_df = pd.read_csv("CustomerAddress.csv")
#CustomerAddress_df.head()

In [5]:
## In this task, we do not the customerlist df.
#The rest of the sheets have a column in common, Customerid, so we will try to join them using this feature
# Merge the dataframes one by one using customer_id as the key
merged_df = pd.merge(transactions_df, CustomerDemographic_df, on='customer_id', how='outer')
merged_df = pd.merge(merged_df, CustomerAddress_df, on='customer_id', how='outer')

# If you want to perform an inner join (intersection) use 'inner' in the how argument.
# If you want to perform an outer join (union), use 'outer' in the how argument.

#print(merged_df.head())

In [10]:
#merged_df.head()
#let's see the all the columns
#merged_df.columns

In [11]:
CustomerDemographic_df.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [16]:
#let's get the age distribution of these potential customers
from datetime import datetime

# Convert the DOB column to datetime
CustomerDemographic_df['DOB'] = pd.to_datetime(CustomerDemographic_df['DOB'])

# Calculate age based on the current date
current_date = datetime.now()
CustomerDemographic_df['Age'] = (current_date - CustomerDemographic_df['DOB']).astype('<m8[Y]')  # Calculate age in years

# Display the DataFrame with the Age column
print(CustomerDemographic_df.head())

   customer_id      first_name  last_name  gender  \
0            1         Laraine  Medendorp       F
1            2             Eli    Bockman    Male
2            3           Arlin     Dearle    Male
3            4          Talbot        NaN    Male
4            5  Sheila-kathryn     Calton  Female

   past_3_years_bike_related_purchases        DOB               job_title  \
0                                   93 1953-10-12     Executive Secretary
1                                   81 1980-12-16  Administrative Officer
2                                   61 1954-01-20      Recruiting Manager
3                                   33 1961-10-03                     NaN
4                                   56 1977-05-13           Senior Editor

  job_industry_category     wealth_segment deceased_indicator  \
0                Health      Mass Customer                  N
1    Financial Services      Mass Customer                  N
2              Property      Mass Customer                  N
3                    IT      Mass Customer                  N
4                   NaN  Affluent Customer                  N

                                             default owns_car  tenure   Age
0                                                 "'      Yes    11.0  70.0
1                       <script>alert('hi')</script>      Yes    16.0  42.0
2                                2018-02-01 00:00:00      Yes    15.0  69.0
3  () { _; } >_[$($())] { touch /tmp/blns.shellsh...       No     7.0  62.0
4                                                NIL      Yes     8.0  46.0

In [20]:
oldest_age = CustomerDemographic_df['Age'].max()
youngest_age = CustomerDemographic_df['Age'].min()

print("Oldest person's age:", oldest_age)
print("Youngest person's age:", youngest_age)

Oldest person's age: 179.0
Youngest person's age: 21.0

In [8]:

transactions_df.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0