In [2]:
excel_file_path = r"C:\Users\HP\Desktop\DATASCI\PERSONALProjects\KPMG virtual internship\KPMG_VI_new_raw_data.xlsx"
sheet_names = ['Transactions', 'NewCustomerList', 'CustomerDemographic', 'CustomerAdress']

In [7]:
import pandas as pd
import os

def excel_to_csv(excel_file_path, sheet_names=None, csv_file_names=None):
    excel_file_path = os.path.abspath(excel_file_path)  # Convert to absolute path
    xls = pd.ExcelFile(excel_file_path)

    if csv_file_names is None:
        csv_file_names = [sheet_name for sheet_name in xlsx.sheet_names]

    if len(csv_file_names) != len(xls.sheet_names):
        raise ValueError("Number of CSV file names must match the number of sheets in the Excel file.")

    for sheet_name, csv_name in zip(xls.sheet_names, csv_file_names):
        df = xls.parse(sheet_name)
        csv_file_path = f'{csv_name}.csv'  # Save each sheet with the provided CSV file name
        df.to_csv(csv_file_path, index=False)

    print("Conversion completed!")

# Call the function to convert the Excel file to CSV with custom names for each sheet
#excel_file_path = 'C:/Users/HP/Desktop/DATASCI/PERSONAL/KPMG virtual internship/kpmg_sprocket.xlsx'
sheet_names = None  # Set this to a list of specific sheet names if you want to convert only certain sheets.
csv_file_names = ['Transactions', 'NewCustomerList', 'CustomerDemographic', 'CustomerAddress']  # Provide the desired CSV file names

excel_to_csv(excel_file_path, sheet_names, csv_file_names)

C:\Users\HP\AppData\Local\Temp\ipykernel_1928\509358284.py:15: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df = xls.parse(sheet_name)
C:\Users\HP\AppData\Local\Temp\ipykernel_1928\509358284.py:15: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df = xls.parse(sheet_name)

Conversion completed!

In [23]:
#Now to turn the respective sheets to dataframes
transactions_df = pd.read_csv("Transactions.csv")
transactions_df.head()
#CustomerList_df = pd.read_csv('NewCustomerList.csv')
#CustomerList_df.head()
CustomerDemographic_df = pd.read_csv("CustomerDemographic.csv")
#CustomerDemographic_df.head()
CustomerAddress_df = pd.read_csv("CustomerAddress.csv")
#CustomerAddress_df.head()

In [24]:
## In this task, we do not the customerlist df.
#The rest of the sheets have a column in common, Customerid, so we will try to join them using this feature
# Merge the dataframes one by one using customer_id as the key
merged_df = pd.merge(transactions_df, CustomerDemographic_df, on='customer_id', how='outer')
merged_df = pd.merge(merged_df, CustomerAddress_df, on='customer_id', how='outer')

# If you want to perform an inner join (intersection) use 'inner' in the how argument.
# If you want to perform an outer join (union), use 'outer' in the how argument.

#print(merged_df.head())

In [25]:
merged_df.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,...,wealth_segment,deceased_indicator,default,owns_car,tenure,address,postcode,state,country,property_valuation
0,1.0,2.0,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,...,Mass Customer,N,ã»(ï¿£âï¿£)ã»:*:,Yes,10.0,984 Hoepker Court,3064.0,VIC,Australia,6.0
1,11065.0,1.0,2950,2017-10-16,0.0,Approved,Giant Bicycles,Standard,medium,medium,...,Mass Customer,N,ã»(ï¿£âï¿£)ã»:*:,Yes,10.0,984 Hoepker Court,3064.0,VIC,Australia,6.0
2,18923.0,62.0,2950,2017-04-26,0.0,Approved,Solex,Standard,medium,medium,...,Mass Customer,N,ã»(ï¿£âï¿£)ã»:*:,Yes,10.0,984 Hoepker Court,3064.0,VIC,Australia,6.0
3,2.0,3.0,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,...,Mass Customer,N,ZÌ®ÌÍÌ ÍÍAÌ¥ÌÌÍÌ»ÌLÌ£ÍÍÌ¯Ì¹ÌÍGÌ»OÌ­ÌÌ®,Yes,10.0,4 Shopko Circle,2196.0,NSW,Australia,5.0
4,6862.0,4.0,3120,2017-10-05,0.0,Approved,Giant Bicycles,Standard,high,medium,...,Mass Customer,N,ZÌ®ÌÍÌ ÍÍAÌ¥ÌÌÍÌ»ÌLÌ£ÍÍÌ¯Ì¹ÌÍGÌ»OÌ­ÌÌ®,Yes,10.0,4 Shopko Circle,2196.0,NSW,Australia,5.0

In [28]:
#let's see the all the columns
merged_df.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure', 'address', 'postcode', 'state',
       'country', 'property_valuation'],
      dtype='object')